@font-face {
    font-family: "NovaRound-Regular";
    src: url("/res/fonts/NovaRound-Regular.ttf");
}
  
body {
    font-family: "NovaRound-Regular";
    margin: 0px;
    padding: 0px;
    font-size: 1.2em;
}

body:has(.bg_admin) {
    background-image: linear-gradient( 109.6deg,  rgba(209,0,116,1) 11.2%, rgba(110,44,107,1) 91.1% );
}

body:has(.bg_user) {
    background-color: #85FFBD;
    background-image: linear-gradient(225deg, #85FFBD 0%, #d3ff7d 100%);
    
}

nav{
    border-bottom: 1px solid black;
}

nav div.flex-space-between{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 70px;
    height: 70px;
}

.nav-user_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav h1.nav-title{
    font-size: 2.1em;
    font-weight: normal;
    margin: 0;
    margin-left: 90px;
}

nav div.nav-login{
    display: none;
    font-size: 1.2em;
}

nav div.right-side{
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.log-button:not(:has(a)){
    width: 120px;
}

div.log-button a{
    background-color: #E89C9C;
    padding: 10px 45px;
    border-radius: 70px;
    border: 1px solid black;
    color: #fff;
    font-size: 1em;
    font-family: "NovaRound-Regular";
    font-weight: normal;
    line-height: 3rem;
    text-decoration: none;
}

div.log-button a:hover{
    background-color: #D41515;
}

h2{
    font-size: 1.8em;
    font-weight: normal;
    text-align: center;
    margin: 50px 0 20px 0;
}

div.form-container{
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.mt-5-mb-5{
    padding: 10px 0;
}

div.submit-button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

div.form input{
    padding: 10px;
    font-size: 1em;
    background-color: #82a8ca;
    color: #fff;
    border: 1px solid black;
    border-radius: 10px;
}

div.submit-button input{
    width: 80%;
    padding: 10px 45px;
    background-color: #57A773;
    color: #fff;
    border-radius: 70px;
    font-size: 1em;  
    border: none;
    border: 1px solid black;
}

div.submit-button input:hover{
    background-color: #417e57;
}

div.dashboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 0px;
}

div.button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

div.button a{
    width: 250px;
    background-color: #D41515;
    padding: 10px 45px;
    border: 1px solid black;
    color: #fff;
    font-size: 1em;
    font-family: "NovaRound-Regular";
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    border-radius: 70px;
}

div.button a:hover{
    background-color: #F0A7A7;
}

body{
    height: 100vh;
}


div.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.addbike-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.form .addBike{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px 45px;
    font-size: 1em;  
    border: none;
}

div.mb-5{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; 
    width: 450px;
    height: auto;
}

div.mb-5 select{
    font-size: 1em;
}

div.mb-5 input{
    font-size: 1em;
}

div.mb-51{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

div.form1 div.mb-51 input{
    padding: 10px;
    font-size: 1em;
    background-color: #D41515;
    color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

div.form1 div.mb-51 input:hover{
    background-color: #F0A7A7;
}

div.reservation_wrapped{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}

div.reservation_wrapped .infos{
    list-style-type: none;
    padding: 15px;
    margin: 0;
    line-height: 1.5;
    background-color: #D9D9D9;
}

div.reservation_wrapped .review{
    height: fit-content;
    background-color: #D9D9D9;
    
}

div.reservation_wrapped h2{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;
    background-color: #D41515;
    color: white;
    padding: 10px 25px 10px 25px;
    font-weight: 400;
    font-size: 1.6em;
}

div.reservation_wrapped button{
    width: 100%;
}

div.reservation_wrapped button{
    width: 100%;
    background-color: #F0A7A7;
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
}

section.reservation {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

div.reservation_wrapped img{
    width: 90px;
    height: 90px;
    align-content: center;
}

div.reservation_wrapped .li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

div.reservation_wrapped .opgg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

footer div.return{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    padding: 60px;
}

footer div.return a{
    color: #fff;
}

footer div.return a:hover{
    color: #580a0a;
}

footer.user div.return a{
    color: #887612;
}

footer.user div.return a:hover{
    color: black;
}

div.user-dashboard-container{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    padding-top: 20px;
}

div.user-dashboard-container-wrapped{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.button_user{
    padding-bottom: 30px;
}

.button_user a{
    margin: 100px 50px;
    background-color: #9bd1e5;
    padding: 10px 45px;
    border-radius: 70px;
    border: 1px solid black;
    color: #fff;
    font-size: 1em;
    font-family: "NovaRound-Regular";
    font-weight: normal;
    line-height: 3rem;
    text-decoration: none;
}

.button_user:hover a{
    background-color: #6a8eae  ;
}

.button_user a {
    text-decoration: none;
    color:black
}

.user-dashboard-container h2{
    font-size: 1.8em;
    font-weight: normal;
    text-align: center;
    padding-bottom: 20px;
}